<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre a linguagem Python



{% endblock %}

{% block content %}
<h1>Planos Para o Futuro</h1>

<p>Conteúdo de página sobre Python

    Jogar todos os campeonatos possiveis de footvolley nesse ano,  e ano que vem entrar em uma faculdade de ADM ja com a minha CNH.

</p>
<p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcD8Mhuz9zmVtYEonW-bBdGDARPanCov1gCw&s" alt="">
</p>
{% endblock %}
